<script>
  import AppBar from "smelte/src/components/AppBar"
  import Button from "smelte/src/components/Button"
  import List from "smelte/src/components/List"
  import ListItem from "smelte/src/components/List/ListItem.svelte"
  import NavigationDrawer from "smelte/src/components/NavigationDrawer"
  import ProgressLinear from "smelte/src/components/ProgressLinear"
  import Tabs, { TabButton } from "smelte/src/components/Tabs"
  import { Spacer } from "smelte/src/components/Util"
  import {
    right,
    elevation,
    persistent,
    showNav,
    showNavMobile,
    breakpoint,
  } from "smelte/src/stores.js"
  import { fade } from "svelte/transition"

  import { goto, stores } from "@sapper/app"
  import NewIssueModal from "../components/NewIssueModal.svelte"
  import config from "../config"
  import { showNewIssueModal } from "../stores"

  export let segment

  const bp = breakpoint()
  const navMenu = [
    { to: "a_propos", text: "À propos…" },
    { to: "deputes", text: "Députés" },
    { to: "dossiers/assemblee", text: "Dossiers" },
  ]
  const { page, preloading, session } = stores()
  // let selected = ""
  let topMenu

  $: path = $page.path

  $: {
    const menu = [
      { to: "a_propos", text: "À propos…" },
      { to: "deputes", text: "Députés" },
      { to: "dossiers/assemblee", text: "Dossiers" },
    ]
    if ($session.user) {
      menu.push({
        text: "Déconnexion",
        id: "sign_out",
      })
    } else {
      menu.push({
        text: "Connexion",
        to: `auth/gitlab?redirect=${encodeURIComponent($page.path)}`,
      })
    }
    topMenu = menu
  }

  async function logout(event) {
    event.preventDefault()

    // eslint-disable-next-line no-undef
    const response = await fetch("auth/logout", {
      body: JSON.stringify({}),
      credentials: "same-origin",
      headers: {
        "Content-Type": "application/json; charset=utf-8",
      },
      method: "POST",
    })
    // let user = null
    // if (response.ok) {
    //   user = await response.json()
    // } else {
    if (!response.ok) {
      console.log("Logout failed", await response.text())
    }
    $session = { ...$session, user: null }
    goto(".")
  }
</script>

<!--
<nav
  aria-label="main navigation"
  class="fixed flex items-top justify-between flex-wrap bg-teal-darker px-2
  w-full z-10"
  role="navigation">
  <div class="flex flex-col flex-grow items-baseline my-1 md:flex-row">
    <div class="flex items-baseline flex-no-shrink text-white mr-6 my-2">
      <a
        class="font-medium italic no-underline text-teal-lightest text-xl
        tracking-tight"
        href={config.url}
        rel="prefetch"
        title={config.missionStatement}>
        <i class="fas fa-vote-yea" />
        {config.title}
      </a>
    </div>
    <div
      class="flex-grow w-full md:flex
      md:items-center md:w-auto">
      <div class="flex flex-col md:flex-grow md:flex-row">
        {#each config.leftMenu as menuItem}
          <span class="inline-flex">
            <a
              class="block border-b-2 flex-none mr-4 mt-4 no-underline pb-2
              md:mt-0 hover:text-white {(segment || '.') === menuItem.url ? 'text-teal-lighter' : 'border-teal-darker text-teal-lightest'}"
              href={menuItem.url || ""}
              rel={menuItem.prefech ? "prefetch" : null}
              title={menuItem.title || null}>
              {menuItem.contentHtml}
            </a>
          </span>
        {/each}
      </div>
      <div class="flex flex-col md:flex-row">
        {#each config.rightMenu as menuItem}
          <span class="inline-flex">
            <a
              class="block border-b-2 flex-none mr-4 mt-4 no-underline pb-2
              md:mt-0 hover:text-white {(segment || '.') === menuItem.url ? 'text-teal-lighter' : 'border-teal-darker text-teal-lightest'}"
              href={menuItem.url || ""}
              rel={menuItem.prefech ? "prefetch" : null}
              title={menuItem.title || null}>
              {menuItem.contentHtml}
            </a>
          </span>
        {/each}

        {#if $session.user}
          <button
            class="block border-b-2 border-teal-darker mt-4 no-underline pb-2
            text-teal-lightest md:inline-block md:mt-0 hover:text-white"
            on:click|preventDefault={logout}>
            Déconnexion
          </button>
        {:else}
          <a
            class="block border-b-2 border-teal-darker mt-4 no-underline pb-2
            text-teal-lightest md:inline-block md:mt-0 hover:text-white"
            href="auth/gitlab?redirect={encodeURIComponent($page.path)}">
            Connexion
          </a>
        {/if}
      </div>
    </div>
  </div>
</nav> -->

{#each navMenu as link}
  <a href={link.to} class="sr-only">{link.text}</a>
{/each}

{#if $preloading}
  <ProgressLinear app />
{/if}

<AppBar>
  <a href={config.url} class="px-2 md:px-8 flex items-center">
    <img
      src="aiguilles_a_tricoter_300x260.png"
      alt="Logo du projet Tricoteuses"
      width="44" />
    <h6 class="pl-3 text-white tracking-widest font-thin text-lg">
      Tricoteuses
    </h6>
  </a>
  <Spacer />
  <Tabs navigation bind:selected={path} items={topMenu} let:color let:item>
    <span slot="item">
      {#if item.id === "sign_out"}
        <TabButton selected={path} {color} {...item} on:click={logout} />
      {:else}
        <TabButton bind:selected={path} {color} {...item} />
      {/if}
    </span>
  </Tabs>
  <div class="md:hidden">
    <Button
      icon="menu"
      small
      flat
      remove="p-1 h-4 w-4"
      iconClass="text-white"
      iconClasses={i => i.replace("p-4", "p-3").replace("m-4", "m-3")}
      text
      on:click={() => showNavMobile.set(!$showNavMobile)} />
  </div>
</AppBar>

{#if $bp}
  <main
    class="container relative p-8 lg:max-w-3xl lg:ml-64 mx-auto mb-10 mt-24
    md:ml-56 md:max-w-md md:px-3"
    transition:fade={{ duration: 300 }}>
    <NavigationDrawer
      bind:showDesktop={$showNav}
      bind:showMobile={$showNavMobile}
      right={$right}
      persistent={$persistent}
      elevation={$elevation}
      breakpoint={$bp}>
      <h6 class="p-6 ml-1 pb-2 text-xs text-gray-900">Components</h6>
      <List items={navMenu}>
        <span slot="item" let:item class="cursor-pointer">
          <ListItem
            dense
            id={item.id}
            navigation
            selected={path.includes(item.to)}
            selectedClasses="bg-primary-transLight hover:bg-primary-transLight">
            <a href={item.to}>{item.text}</a>
          </ListItem>
        </span>
      </List>
      <hr />
    </NavigationDrawer>

    {#if config.globalAlert}
      {@html config.globalAlert.messageHtml}
    {/if}
    <slot />
    {#if $showNewIssueModal}
      <NewIssueModal path={$page.path} />
    {/if}
  </main>
{/if}
