<script>
  import { goto } from "@sapper/app"
  import config from "../config"

  let code = "code_civil"

  async function submit() {
    // eslint-disable-next-line no-undef
    const response = await fetch("api/upsert_archeolex_code", {
      credentials: "same-origin",
      method: "POST",
      body: JSON.stringify(
        {
          code,
        },
        null,
        2,
      ),
      headers: {
        "Content-Type": "application/json; charset=utf-8",
      },
    })
    const project =
      response.ok || (400 <= response.status && response.status < 500)
        ? await response.json()
        : { error: { code: response.status, message: response.statusText } }
    if (project.error) {
      console.log(project.error.code, project.error.message)
    } else {
      goto(`/${project.path_with_namespace}`)
    }
  }
</script>

<svelte:head>
  <title>{config.title}</title>
</svelte:head>

<h1>{config.title}</h1>

<form on:submit|preventDefault={submit}>
  <div class="mb-5">
    <label class="block font-bold mb-2 text-sm" for="code">
      Slug Archéo Lex du code législatif
    </label>
    <input
      class="appearance-none border leading-tight focus:outline-none px-3 py-2
      rounded shadow focus:shadow-outline w-full"
      id="code"
      placeholder="code_penal…"
      required
      type="text"
      bind:value={code} />
  </div>
  <div class="flex justify-end mt-6">
    <button
      class="bg-teal hover:bg-teal-dark font-bold py-2 px-4 rounded text-white"
      type="submit">
      Amender
    </button>
  </div>
</form>
