<script context="module">
  export async function preload(page) {
    const { namespace: namespaceName, project: projectName } = page.params
    const response = await this.fetch(`api/${namespaceName}/${projectName}`, {
      credentials: "same-origin",
    })
    if (!response.ok) {
      return this.error(response.status, response.statusText)
    }
    const project = await response.json()
    const { legislation } = project
    return {
      legislation,
      namespaceName,
      project,
      projectName,
    }
  }
</script>

<script>
  import marked from "marked"
  import { onMount } from "svelte"

  import { stores } from "@sapper/app"
  import config from "../../../config"

  export let legislation
  export let namespaceName
  export let project
  export let projectName

  const { session } = stores()
  let editorView = null

  $: ({ user } = $session)

  const renderer = new marked.Renderer()
  const originIndependentUrl = /^$|^[a-z][a-z0-9+.-]*:|^[?#]/i
  renderer.image = function(href, title, text) {
    if (this.options.baseUrl && !originIndependentUrl.test(href)) {
      href = new URL(href, this.options.baseUrl).toString()
    }
    text = text ? ` alt="${text}"` : ""
    title = title ? ` title="${title}"` : ""
    const slash = this.options.xhtml ? "/" : ""
    return `<img${text} class="img-fluid" src="${href}"${title}${slash}>`
  }
  const markedOptions = {
    renderer,
  }

  function markdownToHtml(text, options) {
    options = {
      ...markedOptions,
      ...(options || {}),
    }
    text = text.replace(/src="(.*?)"/g, (match, url) => {
      if (options.baseUrl && !originIndependentUrl.test(url)) {
        url = new URL(url, options.baseUrl.toString())
      }
      return `src="${url}"`
    })
    return marked(text, options)
  }

  async function save() {
    // eslint-disable-next-line no-undef
    const response = await fetch(`api/${namespaceName}/${projectName}`, {
      credentials: "same-origin",
      method: "PUT",
      body: JSON.stringify(
        {
          branch: project.default_branch,
          // Note: ProseMirror uses 2 line breaks between 2 paragraphs.
          legislation: editorView.content,
          legislationPath: project.legislationPath,
        },
        null,
        2,
      ),
      headers: {
        "Content-Type": "application/json; charset=utf-8",
      },
    })
    if (response.ok) {
      // TODO: Add an alert stating that text has been saved.
      console.log("saved!")
    } else {
      console.log(response.status, response.statusText)
      console.log(await response.text())
    }
  }

  onMount(async () => {
    if (user !== null && user.username === namespaceName) {
      const { exampleSetup } = require("prosemirror-example-setup")
      const {
        schema,
        defaultMarkdownParser,
        defaultMarkdownSerializer,
      } = require("prosemirror-markdown")
      const { EditorState } = require("prosemirror-state")
      const { EditorView } = require("prosemirror-view")

      class MarkdownView {
        constructor(target, content) {
          // eslint-disable-next-line no-undef
          this.textarea = target.appendChild(document.createElement("textarea"))
          this.textarea.value = content
        }

        get content() {
          return this.textarea.value
        }
        focus() {
          this.textarea.focus()
        }
        destroy() {
          this.textarea.remove()
        }
      }

      class ProseMirrorView {
        constructor(target, content) {
          this.view = new EditorView(target, {
            state: EditorState.create({
              doc: defaultMarkdownParser.parse(content),
              plugins: exampleSetup({ schema }),
            }),
          })
        }

        get content() {
          return defaultMarkdownSerializer.serialize(this.view.state.doc)
        }
        focus() {
          this.view.focus()
        }
        destroy() {
          this.view.destroy()
        }
      }

      // eslint-disable-next-line no-undef
      let place = document.querySelector("#editor")
      // eslint-disable-next-line no-undef
      // let view = new MarkdownView(place, legislation)
      let editorView = new ProseMirrorView(place, legislation)

      // eslint-disable-next-line no-undef
      document.querySelectorAll("input[type=radio]").forEach(button => {
        button.addEventListener("change", () => {
          if (!button.checked) return
          let View = button.value == "markdown" ? MarkdownView : ProseMirrorView
          if (editorView instanceof View) return
          let content = editorView.content
          editorView.destroy()
          editorView = new View(place, content)
          editorView.focus()
        })
      })
    }
  })
</script>

<svelte:head>
  <title>{projectName} | {namespaceName} | {config.title}</title>
</svelte:head>

<h1>{namespaceName}/{projectName}</h1>
{#if user === null || user.username !== namespaceName}
  {@html markdownToHtml(legislation)}
{:else}
  <div>
    <label>
      Markdown
      <input type="radio" name="inputformat" value="markdown" />
    </label>
    <label>
      <input type="radio" name="inputformat" value="prosemirror" checked />
      WYSIWYM
    </label>
  </div>
  <div id="editor" />
  <!-- <div style="display: none"><textarea id="content">{legislation}</textarea></div> -->
  <div class="flex justify-end mt-6">
    <!-- {#if legislation === project.legislation}
      <button class="bg-teal-light hover:bg-teal-dark font-bold py-2 px-4 rounded text-grey-dark" disabled type="button">
        Enregistrer
      </button>
    {:else} -->
    <button
      class="bg-teal hover:bg-teal-dark font-bold py-2 px-4 rounded text-white"
      on:click={save}
      type="button">
      Enregistrer
    </button>
    <!-- {/if} -->
  </div>
{/if}
